/* общие стили */

body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: white;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* стили шапки */

.main-header {
  background-color: #f3f7f8;
}

/* стили верхней линии шапки */

.main-header-menu {
  font-size: 17px;
  line-height:18px;
  color: #ffffff;
  background-color: #293449;
}

.main-header-logo {
  background-color: #ee3643;
}

.main-header-logo:hover {
  background-color: #ca2c37;
}

.main-header-logo:focus {
  background-color: #ba2732;
}

.main-header-menu-elements {
 list-style: none;
}



/* форма поиска */

.search-form input {
  background-color: transparent;
  border: none;
}

.search-form input:focus {
  background-color: #ffffff;
  outline: none;
}

.search-form  input[type="search"]::-webkit-input-placeholder {
   color: #ffffff;
  }
.search-form  input[type="search"]::-moz-placeholder {
   color: #ffffff;
  }

.main-header-menu-elements a,
.btn-order {
 color: #ffffff;
}

.basket-not-empty a {
  background-color: #ee3643;
}

/* -------------------------- */

.main-header-menu-elements a:hover {
 background-color: #212a3a;
}

.btn-order {
 background-color: #63a63e;
}

.btn-order:hover {
 background-color: #5fbb2d;
}

.btn-order:focus {
 background-color: #518534;
}

.main-header-menu-elements a:focus,
.btn-order:focus {
   color: rgba(255, 255, 255, 0.6);
}

.main-user-form-in span {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.form-navigation li {
  list-style: none;
}

.form-navigation a {
  font-size: 16px;
  line-height: 18px;
  color: #212a3a;
  text-decoration: underline;
}

.form-log-out {
  color: #c5c5c5;
}

.form-log-out:hover {
  color: #212a3a;
}

.form-navigation a:hover {
  color: #ee3643;
}

.form-navigation a:focus,
.main-user-form-in span:focus,
.form-log-out:focus {
  color: rgba(50, 66, 92, 0.3);
}

/* стили средней линии шапки */

.main-title {

  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.main-adress-container span {
  white-space: pre;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: 3px solid #ffffff;
  text-align: left;
}

.main-adress-container p {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.main-user-form li,
.site-navigation li {
  list-style: none;
}

.main-user-form a {
  font-size: 21px;
  line-height: 21px;
  background-color: #ffffff;
  color: #000000;
}

.main-user-form a:hover {
  color: #e9292a;
}

.main-user-form a:focus {
  color: rgba(0, 0, 0, 0.3);
}

/* стили нижней линии шапки */

.site-navigation {
  font-size: 17px;
  line-height: 17px;
  background-color: #32425c;
}

.site-navigation a {
  color: #ffffff;
}

.site-navigation a:hover {
  background-color: #293449;
}

.site-navigation a:focus {
  color: rgba(255, 255, 255, 0.6);
}


/* секция offers */

.offers-items li {
  list-style: none;
}

.offers-items h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
}

.offers-items a {
  background-color: rgba(0, 0, 0, 0.1);
  color: #ffffff;
}

.offers-items a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.offers-items a:focus {
  background-color: rgba(0, 0, 0, 0.3);
}

.offers-items-materials {
  background-color: #ffbf47;
}

.offers-items-instruments {
  background-color: #3bbce3;
}

.offers-items-technics {
  background-color: #dc91d8;
}

.offers-items-discont {
  background-color: #8ed78f;
}

.offers-items-shipping {
  background-color: #ffc047;
}

.offers-slider li {
  list-style: none;
  background-color: #584e44;
  color: #ffffff;
}

.offers-slider h4 {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.offers-slider p {
  font-size: 18px;
  line-height: 24px;
}

/* хлебные крошки */

.breadcrumbs,
.title-find-by,
.perforator-sort {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}

.breadcrumbs li {
 list-style: none;
}

.breadcrumbs a {
 color: #000000;
}

/* секция perforator-sort */

.perforator-sort {
  background-color: #f7f3ec;
}

.sort-by {
  list-style: none;
}

.sort-by a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
}

.sort-by a:hover {
  color: rgba(0, 0, 0, 1);
  border-bottom: 1px solid #ee3643;
}

.sort-by a:focus {
  color: #ee3643;
  border-bottom: none;
}

.sort-by .sort-by-current {
  color: #ee3643;
  border-bottom: none;
}

/* секция perforator-filters */

.toggle-controls {
  background-color: #f7f3ec;
}

.price-controls input {
  border: none;
  background-color: #f7f3ec;
  font-family: "PT Sans", Arial, sans-serif;
}

.title-container {
  background-color: #f2f6f8;
}

.catalog-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
}

.filter fieldset {
  border: none;
}

.filter {
  font-family: "PT Sans", Arial, sans-serif;
}

.filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

.filter ul {
  list-style: none;
  line-height: 20px;
}

.filter-producers-checkbox + label,
.filter-producers-radio + label {
  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.filter-button {
  font-family: inherit;
  font-size: 13px;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.filter-button:hover {
  border: 1px solid #bdc6ca;
}

.filter-button:focus {
  border: 1px solid #ee3643;
  outline: none;
}

.filter-producers-checkbox:disabled + label,
.filter-producers-radio:disabled + label {
  color: rgba(0, 0, 0, 0.4);
}

/* секция popular-producers */

.popular-producers-list li {
  list-style: none;
}

.popular-producers-list a {
  display: block;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.popular-producers-list a:hover {
  display: block;
  border: 1px solid #e5e5e5;
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}


.popular-producers-list a:focus {
  border: none;
  opacity: 0.3;
    box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
}

/* секция services */

.services {
  background-color: #f5f8fa;
}

.services p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

.services-container h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.services-tabs li {
  list-style: none;
}

.services-tabs label {
  display: block;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
  background-color: #32425c;
  box-shadow: 0 1px 0px 0 rgba(41, 52, 73, 1),
  inset 0 1px 0px 0 rgba(64, 80, 105, 1);
}

.services-tabs input:checked + label {
  color: #32425c;
  background-color: #ffffff;
  box-shadow: none;
}

.tabs h2 {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;

}

/* секция catalog */

.catalog-list li {
  list-style: none;
}

.catalog-item {
  text-align: center;

}

.catalog-item {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

.catalog-item-layer {
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.catalog-item-layer:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
  border: none;
}

.catalog-item span {
  font-size: 17px;
  text-transform: uppercase;
}

.old-price {
  color: #999999;
  text-decoration: line-through;
}

.new-price {
  color: #ffffff;
  background-color: #ee3643;
}

.buy-bookmarks {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.buy-bookmarks .btn-buy-item {
  color: #ffffff;
  background-color: #63a63e;
}

.btn-buy-item:hover {
  background-color: #5fbb2d;
}

.btn-buy-item:focus {
  background-color: #518534;
}

.btn-bookmark-item {
  color: #000000;
  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.btn-bookmark-item:hover {
  border: 3px solid #32425c;
}

.btn-bookmark-item:focus {
  border: 3px solid rgba(50, 66, 92, 0.3);
  color: rgba(50, 66, 92, 0.3);
}

.pagination-list {
  list-style: none;
  display: flex;
}

.pagination-list li {
  list-style: none;

}

.pagination-item a,
.pagination-item-current {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  color: #000000;
  border: 1px solid #e5e5e5;
  text-transform: uppercase;
  display: block;
}

.pagination-item a:hover {
  border: 1px solid #bdc6ca;
}

.pagination-item a:focus {
  border: 1px solid #ee3643;
}

.pagination-item-current {
  background-color: #ee3643;
  color: #ffffff;
}


/* секция about us */

.about-us {
  background-color: #ffffff;
}

.about-us-more h2,
.about-us-contacts h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.about-us-more p,
.about-us-contacts p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.about-us-transport {
  font-size: 18px;
  line-height: 20px;
}

.about-us-transport li {
  list-style: none;
}

.btn-main {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee3643;
}

.btn-main:hover {
  background-color: #ca2c37;
}

.btn-main:focus {
  background-color: #ba2732;
}

/* секция more-about */

.more-about {
  background-color: #f2f6f8;
}

.more-about-container h2 {
  color: #000000;
}

.more-about-container p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}



/* футер */

.main-footer {
  background-color: #32425c;
  color: #ffffff;
}

.main-footer-logo {
  background-color: #ee3643;
}
.main-footer li {
  list-style: none;
}

.site-nav-footer a,
.site-nav-footer p {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.main-footer-products-container a {
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}

.site-nav-footer a:hover,
.main-footer-products-container a:hover {
  text-decoration: underline;
}

.site-nav-footer a:focus,
.main-footer-products-container a:focus {
  opacity: 0.6;
  text-decoration: none;
}

.footer-rights,
.footer-feedback p,
.footer-copyright p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
}

.social-button {
  color: #ffffff;
  background-color: #212a3a;
}

.social-button:hover {
  background-color: #ee3643;
}

.footer-feedback a,
.footer-copyright a {
    color: #ffd180;
}

.footer-feedback a:hover,
.footer-copyright a:hover {
    text-decoration: underline;
}

.footer-feedback a:focus,
.footer-copyright a:focus {
    color: #ee3643;
}
