/* общие стили */

body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: white;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* стили шапки */

.main-header {
  background-color: #f3f7f8;
  margin-bottom: 60px;
}

.header-catalog {
  margin-bottom: 25px;
}

/* стили верхней линии шапки */

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header-menu-wrapper {
   display: flex;
}

.order-wrapper a {
  display: flex;
  align-items: center;
}

.order-wrapper {
  margin-left: auto;
}

.order-wrapper span {
  position: relative;
}

.header-bookmarks,
.header-basket  {
  padding-right: 30px;
  padding-left: 45px;
}

.header-bookmarks span::before {
  content: "";
  position: absolute;
  height: 16px;
  width: 14px;

  left: -30px;

  background-image: url("../img/bookmark-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.header-basket span::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;

  left: -30px;

  background-image: url("../img/basket-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.header-basket span:hover::before {
  opacity: 1;
}

.header-bookmarks span:hover::before {
  opacity: 1;
}

.main-header-menu {
  font-size: 17px;
  line-height:18px;
  color: #ffffff;
  background-color: #293449;
}

.main-header-logo {
  background-color: #ee3643;
  padding: 12px 56px;
  position: relative;
}

.main-header-logo::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 100%;
  bottom: -5px;
  left: 0;
  background-color: #b52933;
}

.main-header-menu-wrapper > * {
  display: flex;
}

.main-header-logo:hover {
  background-color: #ca2c37;
}

.main-header-logo:focus {
  background-color: #ba2732;
}

.main-header-menu-elements {
 list-style: none;
 display: flex;
}

/* форма поиска */

.search-form {
  position: relative;
}

.search-form input {
  background-color: transparent;
  border: none;
  padding-left: 50px;
  width: 270px;
}

.search-form svg {
  position: absolute;
  left: 17px;
  top: 12px;
  fill: #ffffff;
  opacity: 0.3;
}

.search-form input:hover~svg {
  opacity: 1;
}

.search-form input:focus~svg {
  fill: #ee3643;
}

.search-form:hover {
  background-color: #212a3a;
}

.search-form input:focus {
  background-color: #ffffff;
  outline: none;
}

.search-form  input[type="search"]::-webkit-input-placeholder {
   color: #ffffff;
  }
.search-form  input[type="search"]::-moz-placeholder {
   color: #ffffff;
  }

.order-wrapper a,
.btn-order {
 color: #ffffff;
}

.basket-not-empty {
  background-color: #ee3643;
}

/* -------------------------- */

.order-wrapper a:hover {
 background-color: #212a3a;
}

.btn-order {
 background-color: #63a63e;
 padding-left: 21px;
 padding-right: 22px;
}


.order-wrapper a:focus,
.btn-order:focus {
   color: rgba(255, 255, 255, 0.6);
}

.main-user-form-in span {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  display: block;
  padding: 10px 25px 12px 48px;
  margin-bottom: 4px;
  position: relative;

}

.main-user-form-in span:focus {
  opacity: 1;
}

.main-user-form-in span::before {
  content: "";
  position:absolute;
  width: 20px;
  height: 18px;
  top: 11px;
  left: 13px;

  background-image: url("../img/user-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.main-user-form-in span:hover::before {
  opacity: 1;
}

.main-user-form-in span::after {
  content: "";
  position:absolute;
  width: 20px;
  height: 18px;
  top: 11px;
  right: 13px;

  background-image: url("../img/logout-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.main-user-form-in span:hover::after {
  opacity: 1;
}


.order-wrapper .btn-order:hover {
 background-color: #5fbb2d;
}

.order-wrapper .btn-order:focus {
 background-color: #518534;
}

.main-user-form-in {
  width: 300px;
}

.form-navigation {
  margin: 0;
  padding: 0;
  padding-left: 20px;

}

.form-navigation li {
  list-style: none;
  display: inline-block;
  margin-right: 28px;
}

.form-navigation a {
  font-size: 16px;
  line-height: 18px;
  color: #212a3a;
  text-decoration: underline;
}

.form-log-out {
  color: #c5c5c5;
}

.form-log-out:hover {
  color: #212a3a;
}

.form-navigation a:hover {
  color: #ee3643;
}

.form-navigation a:focus,
.main-user-form-in span:focus,
.form-log-out:focus {
  color: rgba(50, 66, 92, 0.3);
}

  /* стили средней линии шапки */

.main-header-info {
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 40px;
}

.main-title {
  font-size: 15px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
  margin: 0;
  padding: 0;
  display: block;
  width: 300px;
  box-sizing: border-box;
  padding-left: 50px;
  padding-right: 50px;
}

.main-adress-container {
  text-align: center;
}

.main-call {
  white-space: pre;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  margin: 0;
  padding: 0;
  border: 3px solid #ffffff;
  display: block;
  margin-right: 30px;
  padding: 9px 50px 10px 70px;
  position: relative;
}

.main-call::before {
  content: "";
  position:absolute;
  top: 10px;
  left: 13px;
  width: 19px;
  height: 19px;
  background-image: url("../img/phone-header-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-adress-container p {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  margin: 0;
  padding: 0;
  margin-right: 30px;
}

.main-user-form {
  width: 300px;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.main-user-form li {
  list-style: none;
}

.site-navigation li{
  list-style: none;
}

.main-user-form a {
  font-size: 21px;
  line-height: 21px;
  display: block;
  background-color: #ffffff;
  color: #000000;
  padding: 10px 25px;

}

.main-user-form-login {
    margin-right: 10px;
    position: relative;
}

.main-user-form-login::before {
  content: "";
  position:absolute;
  width: 20px;
  height: 18px;
  top: 12px;
  left: 9px;

  background-image: url("../img/login-header-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.main-user-form a:hover {
  color: #e9292a;
}

.main-user-form-login a {
  padding-left: 40px;
}

.main-user-form a:focus {
  color: rgba(0, 0, 0, 0.3);
}

/* стили нижней линии шапки */

.site-navigation {
  font-size: 17px;
  line-height: 17px;
  background-color: #32425c;
  border-bottom: 5px solid #293449;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 58px;
}

.site-navigation-wrapper {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.site-navigation a {
  color: #ffffff;
  display: block;
  padding: 20px 30px 18px;
}

.site-navigation a:hover {
  background-color: #293449;
}

.site-navigation a:focus {
  color: rgba(255, 255, 255, 0.6);
}

/* секция offers */

.offers-item {
  width: 300px;
  /* временно для сетки */
  height: 123px;
  margin-bottom: 20px;
}

.offers-item h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

.offers-slider {
  width: 620px;
  height: 265px;
  background-color: #584e44;
}

.offers-item-wrapper {
  margin-bottom: 50px;
}

.offers-item-wrapper-top {
  display: flex;
  justify-content: space-between;
}

.offers-item-wrapper-bottom {
  display: flex;
  justify-content: space-between;
}

.offers-item-wrapper-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.offers-item-wrapper-right .offers-item:last-child {
  margin-bottom: 0;
}


.offers-item-wrapper h4 {
  margin: 0;
  padding: 0;
}

.offers-slider-wrapper {
  margin: 0;
  padding: 0;
}

.offers-items li {
  list-style: none;
}

.offers-items h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
}

.offers-item .btn-offers {
  background-color: rgba(0, 0, 0, 0.1);
  color: #ffffff;
}

.offers-item .btn-offers:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.offers-item .btn-offers:focus {
  background-color: rgba(0, 0, 0, 0.3);
}

.offers-items-materials {
  background-color: #ffbf47;
}

.offers-items-instruments {
  background-color: #3bbce3;
}

.offers-items-technics {
  background-color: #dc91d8;
}

.offers-items-discont {
  background-color: #8ed78f;
}

.offers-items-shipping {
  background-color: #ffc047;
}

.offers-slider li {
  list-style: none;
  background-color: #584e44;
  color: #ffffff;
}

.offers-slider h4 {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.offers-slider p {
  font-size: 18px;
  line-height: 24px;
}

/* хлебные крошки */

.breadcrumbs,
.title-find-by,
.perforator-sort {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}

.breadcrumbs li {
 list-style: none;
 margin-right: 40px;
 position: relative;
}

.breadcrumbs li::after {
 content: "";

 height: 12px;
 width: 8px;

 background-image: url("../img/right-small-icon.svg");
 position: absolute;
 top: 3px;
 right: -25px;
}

.breadcrumbs li:last-child::after {
  display: none;
}

.breadcrumbs a {
 color: #000000;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

/* секция perforator-sort */

.perforator-sort {
  background-color: #f7f3ec;
}

.sort-by {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  /* margin-top: 10px; */
}

 .sort-by-type li {
  margin-right: 60px;
}

.sort-by a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
}

.sort-by a:hover {
  color: rgba(0, 0, 0, 1);
  border-bottom: 1px solid #ee3643;
}

.sort-by a:focus {
  color: #ee3643;
  border-bottom: none;
}

.sort-by .sort-by-current {
  color: #ee3643;
  border-bottom: none;
}

/* секция perforator-filters */

.perforator-filters-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
}

.catalog-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.perforator-sort {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 19px;
}

.title-find-by {
  background-color: #f7f3ec;
  margin: 0;
  padding: 0;
  margin-right: auto;
  display: block;
  padding: 10px 20px;
}

.perforator-filters .title-find-by {
  margin-bottom: 10px;
}

.sort-way-down a,
.sort-way-high a {
  position: relative;
}

.sort-way-down div::before {
  content: "";
  position: absolute;
  border: 6px solid transparent;
  border-top: 11px solid #c5c5c5;
  top: -6px;
  left: 30px;
}

.sort-way-high div::before {
  content: "";
  position: absolute;
  border: 6px solid transparent;
  border-bottom: 11px solid #c5c5c5;
  top: -11px;
}

.up-down-wrapper {
  width: 60px;
}

.price-controls input {
  border: none;
  background-color: #f7f3ec;
  font-family: "PT Sans", Arial, sans-serif;
  padding: 10px 0px;
}

.title-container {
  background-color: #f2f6f8;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.catalog-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  display: block;
  box-sizing: border-box;
  padding: 30px;
}

.filter fieldset {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
    position: relative;
}

.filter {
  font-family: "PT Sans", Arial, sans-serif;
}

.filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 15px;

}

.filter fieldset::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #e5e5e5;
  bottom: -25px;
  left: 0;
}

.filter fieldset:last-of-type::after {
 display: none;
}

.toggle-controls {
  width: 220px;
  height: 80px;
  margin-bottom: 10px;
  background-color: #f7f3ec;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls input {
  width: 95px;
  text-align: center;
}

.filter ul {
  list-style: none;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 35px;
}

.filter-option label {
  cursor: pointer;
  user-select: none;
  display: block;
  position: relative;
}

.filter-producers label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  box-sizing: border-box;
  border: 2px solid #c5c5c5;
  border-radius: 3px;
  left: -35px;
  top: -2px;
}

.filter-producers-checkbox:checked + label::after {
  content: "";
  position: absolute;
  width: 26px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  left: -33px;
  top: -2px;
}

.filter-producers-type label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  box-sizing: border-box;
  border: 2px solid #c5c5c5;
  border-radius: 50%;
  left: -35px;
  top: -2px;
}

.filter-producers-radio:checked + label::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: #c5c5c5;
  border-radius: 50%;
  left: -28px;
  top: 5px;
}

.filter-producers .filter-option:last-child {
  margin-bottom: 0;
}

.filter-producers-type .filter-option:last-child {
  margin-bottom: 35px;
}

.filter-producers-checkbox + label,
.filter-producers-radio + label {
  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.filter .filter-button {
  font-family: inherit;
  font-size: 13px;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  padding: 12px 40px;
}

.filter-button:hover {
  border: 1px solid #bdc6ca;
}

.filter-button:focus {
  border: 1px solid #ee3643;
  outline: none;
}

.filter-producers-checkbox:disabled + label,
.filter-producers-radio:disabled + label {
  color: rgba(0, 0, 0, 0.4);
}

/* секция popular-producers */

.popular-producers-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 66px;
}

.popular-products-list-catalog {
  margin-bottom: 32px;
}

.popular-producers-list li:nth-child(4n) {
  margin-right: 0;
}

.popular-products-list-catalog li:nth-child(3n) {
  margin-right: 0;

}

.popular-products-list-index li:nth-child(4n) {
  margin-right: 0;
}

.popular-producers-list li {
  list-style: none;
  margin-bottom: 20px;
  margin-right: 20px;
}

.popular-producers-list a {
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  width: 218px;
  height: 165px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popular-producers-list a:hover {
  border: 1px solid #e5e5e5;
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.popular-producers-list a:focus {
  border: none;
  opacity: 0.3;
    box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
}

/* секция services */

.services {
  background-color: #f5f8fa;
  padding-top: 65px;
  padding-bottom: 98px;
}

.services p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.services-wrapper h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.services-tabs li {
  list-style: none;
}

.services-tabs label {
  display: block;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
  background-color: #32425c;
  box-shadow: 0 1px 0px 0 rgba(41, 52, 73, 1),
  inset 0 1px 0px 0 rgba(64, 80, 105, 1);
}

.services-tabs input:checked + label {
  color: #32425c;
  background-color: #ffffff;
  box-shadow: none;
}

.tabs h2 {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;

}

/* секция catalog */

.catalog {
  width: 700px;
}

.perforator-filters {
  width: 220px;
}

.catalog-list li {
  list-style: none;
}

.catalog-item {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;
  width: 218px;
  text-align: center;
  margin-bottom: 20px;
  margin-right: 20px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  position: relative;
}

.catalog-item h3 {
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  padding: 0 25px;
  margin-top: 7px;
  margin-bottom: 10px;
  min-height: 40px;
}

.catalog-item img {
  max-width: 100%;
}

.catalog-item:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
  border: none;
}

.flag::before {
  content: "";
  position: absolute;
  height: 60px;
  width: 60px;
  background-image: url("../img/new-flag.png");
  background-repeat: no-repeat;
  top: -1px;
  right: -1px;
}

.catalog-item span {
  font-size: 17px;
  text-transform: uppercase;
}

.old-price {
  color: #999999;
  text-decoration: line-through;
  display: block;
  min-height: 20px;
  margin-bottom: 7px;
}

.new-price {
  color: #ffffff;
  background-color: #ee3643;
  display: block;
  width: 80px;
  padding: 10px 30px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 20px;
}

.catalog-item .new-price:after {
  content: "";

  position: absolute;
  top: 0;
  right: -20px;

  width: 0;
  height: 0;

  border: 20px solid white;
  border-left-color: #ee3643;
}

.buy-bookmarks {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
}

.buy-bookmarks .btn-buy-item {
  color: #ffffff;
  background-color: #63a63e;
  display: block;
  box-sizing: border-box;
  width: 135px;
  padding: 7px 0;
  margin: 0 auto;
  position: relative;
  border-radius: 3px;
  border-bottom: 3px solid #367315;
  margin-bottom: 7px;

}

.buy-bookmarks .btn-buy-item::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  background-image: url("../img/basket-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 10px;
  left: 15px;
  opacity: 0.3;
}

.buy-bookmarks .btn-buy-item:hover::before,
.buy-bookmarks .btn-buy-item:focus::before {
  opacity: 1;
}

.btn-buy-item:hover {
  background-color: #5fbb2d;
}

.btn-buy-item:focus {
  background-color: #518534;
  border-color: #518534;
}

.btn-bookmark-item {
  color: #000000;
  background-color: #ffffff;
  border: 3px solid #63a63e;
  display: block;
  box-sizing: border-box;
  width: 135px;
  padding: 7px 0;
  margin: 0 auto;
  border-radius: 3px;
}

.btn-bookmark-item:hover {
  border: 3px solid #32425c;
}

.btn-bookmark-item:focus {
  border: 3px solid rgba(50, 66, 92, 0.3);
  color: rgba(50, 66, 92, 0.3);
}

.pagination-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.pagination-list li {
  list-style: none;
}

.pagination-item a,
.pagination-item-current {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  color: #000000;
  border: 1px solid #e5e5e5;
  text-transform: uppercase;
  display: block;
}

.pagination-item a:hover {
  border: 1px solid #bdc6ca;
}

.pagination-item a:focus {
  border: 1px solid #ee3643;
}

.pagination-item-current {
  background-color: #ee3643;
  color: #ffffff;
}

/* секция about us */

.about-us {
  background-color: #ffffff;
}

.about-us-wrapper {
    display: flex;
  justify-content: space-between;
  padding-top: 78px;
  padding-bottom: 85px;
}

.about-us-more {
  width: 540px;
}

.about-us-contacts {
  width: 300px;
}

.about-us-more h2,
.about-us-contacts h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
}

.about-us-more p,
.about-us-contacts p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.about-us-more p:last-of-type {
  margin-bottom: 20px;
}

.about-us-transport {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 20px;
  padding-left: 35px;
}

.about-us-transport li {
  list-style: none;
  margin-bottom: 20px;
  position: relative;
}

.about-us-transport li:last-child {
  list-style: none;
  margin-bottom: 35px;
}

.about-us-transport li::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 25px;
  background-color: #ee3643;
  top: 50%;
  transform: translateY(-1px);
  left: -35px;
}

.map-small {
  display: block;
  margin-bottom: 38px;
}

.btn-main {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee3643;
  padding: 10px 40px;
  display: inline-block;
  border-radius: 3px;
}

.btn-section-contacts {
  display: block;
  text-align: center;
}

.btn-main:hover {
  background-color: #ca2c37;
}

.btn-main:focus {
  background-color: #ba2732;
}

/* секция more-about */

.more-about {
  background-color: #f2f6f8;
}

.more-about-container {
  padding-top: 68px;
  padding-bottom: 70px;
}

.more-about-container h2 {
  color: #000000;
}

.more-about-container p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

/* футер */

.main-footer {
  background-color: #32425c;
  color: #ffffff;

}

.main-footer-nav-wrapper {
  display: flex;
}

.site-nav-footer {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.main-footer-logo {
  background-color: #ee3643;
  width: 220px;
  padding-top: 18px;
  padding-bottom: 20px;
  max-height: 24px;
  position: relative;
}

.main-footer-logo::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 100%;
  bottom: -5px;
  left: 0;
  background-color: #b52933;
}

.main-footer-logo img {
  display: block;
  margin: 0 auto;
}

.main-footer li {
  list-style: none;
}

.site-nav-footer {
 padding-top: 39px;
}

.site-nav-footer li {
  margin-left: 59px;
}

.site-nav-footer a,
.site-nav-footer p {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.main-footer-adress  {
 font-size: 18px;
}

.main-footer-products-wrapper {
  display: flex;
  padding-top: 32px;
  padding-bottom: 50px;
}

.main-footer-adress-wrapper {
  width: 350px;
}

.site-nav-footer-products {
  margin: 0;
  padding: 0;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
}

.site-nav-footer-products li {
  margin-left: 59px;
}

.main-footer-products-wrapper a {
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}

.main-footer-products-wrapper p {
  padding: 0;
  margin: 0;
}

.site-nav-footer a:hover,
.main-footer-products-wrapper a:hover {
  text-decoration: underline;
}

.site-nav-footer a:focus,
.main-footer-products-wrapper a:focus {
  opacity: 0.6;
  text-decoration: none;
}

.footer-line {
  background-color: #293449;

}

.main-footer-social-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 35px 0;

}

.main-footer-social-wrapper ul {
  margin: 0;
  padding: 0;
  margin-right: 115px;
}

.footer-rights p,
.footer-feedback p,
.footer-copyright p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.main-footer-social-wrapper li {
 display: inline-block;
}

.social-button {
  background-color: #212a3a;
  display: block;
  height: 42px;
  width: 42px;
  border-radius: 50%;
  position: relative;
}

.vk-btn::after {
  content: "";
  height: 15px;
  width: 26px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/vk-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.fb-btn::after {
  content: "";
  height: 22px;
  width: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.inst-btn::after {
  content: "";
  height: 21px;
  width: 21px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/insta-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social-button:hover {
  background-color: #ee3643;
}

.footer-feedback,
.footer-copyright {
  box-sizing: border-box;
  width: 140px;
}

.footer-copyright {
  padding-left: 25px;
  margin-left: 20px;
}

.footer-feedback a,
.footer-copyright a {
  font-size: 16px;
  color: #ffd180;
}

.footer-feedback a:hover,
.footer-copyright a:hover {
    text-decoration: underline;
}

.footer-feedback a:focus,
.footer-copyright a:focus {
    color: #ee3643;
}

.footer-rights {
  width: 300px;
  margin-right: auto;
}

/* попап элементы */
.about-is-popup-wrapper {
  position: relative;
}


.popup-map {
  position: absolute;
  left:50%;
  margin-left:-470px;
  top: 30px;
  display: none;
}

.popup-map img {
  box-shadow: 0 0 10px 5px rgba(47, 42, 43, 0.2);
}

.big-map-wrapper {
  position: relative;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 21px;
  width: 21px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url("../img/form-exit.svg");
  text-indent: -9999px;
  cursor: pointer;
}

.popup {
  position: fixed;
  width: 620px;
  left: 50%;
  margin-left: -310px;
  background-color: #ffffff;
  top: 30px;
  border-top: 8px solid #ff5257;
  box-shadow: 0 0 10px 5px rgba(47, 42, 43, 0.2);
}

.popup-added,
.popup-feedback {
  display: none;
}

.feedback-form label {
  font-size: 18px;
  line-height: 18px;
}

.feedback-form ul {
  list-style: none;
}

.feedback-form ul {
  margin:0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.feedback-form-name,
.feedback-form-email,
.feedback-form-text {
  padding: 0;
  border: 0;
  display: block;
  width: 220px;
  box-sizing: border-box;
  padding: 12px 15px;
  border: 2px solid #dee3e4;
  border-radius: 3px;
  margin-top: 8px;
  margin-bottom: 18px;
}

.feedback-form-name {
  margin-right: 20px;
}

.feedback-form-text {
  display: block;
  width: 100%;
  box-sizing: border-box;
   margin-bottom: 0;
}

.feedback-form li:nth-child(3) {
  flex-grow: 1;
}

.button {
  font-family: inherit;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  position: relative;
  cursor: pointer;
  z-index: 1;
}

.feedback-form .btn-feedback-form {
  display: block;
  width: 100%;
  margin-top: 74px;
  margin-bottom: 38px;
}

.popup-wrapper {
  width: 460px;
  margin: 0 auto;
  margin-top: 55px;
}

.popup-wrapper p {
  font-size: 30px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  padding-left: 100px;
  margin-bottom: 100px;
  position: relative;
}

.popup-wrapper p::before {
  content: "";
  position: absolute;
  height: 67px;
  width: 67px;
  background-image: url("../img/item-added.svg");
  background-repeat: no-repeat;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.popup-line-bottom {
  position: absolute;
  height: 112px;
  width: 100%;
  background-color: #f1f1f1;
  bottom: 0;
  z-index: 0;
}

.btn-make-order,
.btn-continue {
  box-sizing: border-box;
  text-align: center;
  width: 220px;
}

.popup-item-added-btn-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  position: relative;
      z-index: 1;
}
